* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
    background-color: rgb(173, 142, 95);
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.container > h1 {
  color: rgb(247, 173, 36);
  font-weight: 100;
  font-style: ;
}

.nav a {
  margin-right: 10px;
  text-decoration: none;
  color: white;
  font-size: 1.123rem;
}

.grid {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;  
}

.grid-3 {
  height: 350px;
  width: 33%;
}

.grid-4 {
  height: 300px;
  width: 24.7%;
}

.grid-5 {
  height: 250px;
  width: 19.77%;
}

.grid-6 {
  width: 16.43%;
  height: 200px;
}

.pica-1 {
  background-image: url("https://cdn.fishki.net/upload/post/2018/01/17/2485804/tn/19-1.jpg");
}

.pica-2 {
  background-image: url("https://cdn.fishki.net/upload/post/201406/06/1275305/catsmob_daily_picdump_04040_047.jpg");
}

.pica-3 {
  background-image: url("https://www.austinchronicle.com/imager/b/original/1651196/bba8/sid.jpg");
}

.pica-4 {
  background-image: url("https://s.zefirka.net/images/2018-06-28/krasivye-devushki-lyubyat-piccu/krasivye-devushki-lyubyat-piccu-19.jpg");
}

.pica-5 {
  background-image: url("https://s.erofishki.cc/upload/post/2019/03/04/2898245/tn/1376.jpg");
}

.pica-6 {
  background-image: url("https://imageproxy.ifunny.co/noop/user_photos/dbaf18a31d42c311e6007aec645fa7c22fb53b3d_0.jpg%3F1484760104");
}

.title {
  position: absolute;
  left: 20%;
  top: 50%;
  width: 60%;
  text-align: center;
  background-color: white;
  padding: 20px;
}

.title > h1 {
  color: rgb(247, 173, 36);
  font-size: 6rem;
  font-weight: 700;
}
